
@{
    ViewBag.Title = "工程管理システム";

    //string how_open = "_blank";//新規タブで開く

    string how_open = "_self";//同一タブで開く
}

<div class="indexlist">
    <p class="circle_info_icon">
        @Html.ActionLink(
       "マガジン情報取得",               //リンクテキスト
       "GetMagLot",                      //アクション名
       "Proc",                           //コントローラ名
       null,                             //パラメータ
       new { target = how_open, rel = "noopener noreferrer" }   //タグ属性
       )
    </p>

    <p class="wrench_icon">
        @Html.ActionLink(
       "樹脂沈降時間管理",               //リンクテキスト
       "Rst",                            //アクション名
       "Proc",                           //コントローラ名
       null,                             //パラメータ
       new { target = how_open, rel = "noopener noreferrer" }   //タグ属性
       )
        <span>
            @Html.ActionLink(
           "データ取得",                 //リンクテキスト
           "GetRst",                     //アクション名
           "Proc",                       //コントローラ名
           null,                         //パラメータ
           new { target = "_self", rel = "noopener noreferrer", style = "font-size:1rem", @class = "link_icon" }   //タグ属性
           )
        </span>
    </p>

    <p class="hand_point_left_icon">
        @Html.ActionLink(
       "樹脂カップ差立て一覧",           //リンクテキスト
       "GetResinCupRecipeList",          //アクション名
       "Proc",                           //コントローラ名
       null,                             //パラメータ
       new { target = how_open, rel = "noopener noreferrer" }   //タグ属性
       )
    </p>

    <p class="layer_group">
        @Html.ActionLink(
       "先行評価ログ",                   //リンクテキスト
       "GetResinSenkoLog",               //アクション名
       "Proc",                           //コントローラ名
       null,                             //パラメータ
       new { target = how_open, rel = "noopener noreferrer" }   //タグ属性
       )
    </p>

</div>