@model ArmsWeb.Models.ConveyanceModel

@{
    ViewBag.Title = "Index";
}


<h3>搬送実績登録</h3>
<h3>作業者：@Model.EmpCd</h3>

@using (Html.BeginForm())
{

    <h3>投入マガジン読み込み</h3>
    <input type="text" id="txtMagNo" name="txtMagNo" />
    <input type="submit" value="Go" />
        
    <br />
  
    <h5>読み込み済みロット @Model.MagList.Count().ToString() </h5>
    <ul>
        @foreach (ArmsApi.Model.Magazine mag in Model.MagList)
        {
            <li>@mag.MagazineNo : @mag.NascaLotNO</li>
        }
    </ul>
    <br />
  
    <div>
        @Html.ActionLink("実績登録", "Confirm")
        &nbsp
        @Html.ActionLink("キャンセル", "CancelEdit")
    </div>
    
    <br />
}