@model ArmsWeb.Models.CasseteRelationModel
@{
    ViewBag.Title = "InputCassette";
}

@using (Html.BeginForm())
{
    <h3>リング追加</h3>
    <input type="text" id="txtCassNo" name="txtCassNo" />
    <input type="submit" value="Go" />
        
    <br />
    
    <h5>ロット @Model.LotNo </h5>
    
    <h5>読み込み済みリング @Model.listCassetteNo.Count().ToString() </h5>
    <select size="10" name="matindex">
        @foreach (string cass in Model.listCassetteNo)
        {
            <option value="@cass" >@cass</option>
        }
    </select>
    <br />
    
    <div>
        @Html.ActionLink("登録", "Submit")
        &nbsp
        @Html.ActionLink("キャンセル", "Index", "Home")
    </div>

    <hr />
}