@using ArmsApi.Model
@model ArmsWeb.Models.CutBlendModel
@{
    ViewBag.Title = "PreInputDefect";
}

<h3>カット不良予約登録</h3>
<h3>設備：@Model.PlantCd</h3>
<h3>作業者：@Model.EmpCd</h3>

@using (Html.BeginForm())
{
    <h5>ロット選択 </h5>
    <ul>
        @for (int i = 0; i < Model.BlendList.Count(); i++)
        {
            CutBlend cb = Model.BlendList[i];
            
            
            if (i == 0)
            {
            <li>
                <input type="radio" name="blenditem" value="@i.ToString()" checked="checked"} />@cb.MagNo : @cb.LotNo : @Model.GetMnfctKB(cb.LotNo)</li>
            }
            else
            {
            <li>
                <input type="radio" name="blenditem" value="@i.ToString()"} />@cb.MagNo : @cb.LotNo : @Model.GetMnfctKB(cb.LotNo)</li>
            }
        }
    </ul>
    <br />
    
    <div>
        <input type="submit" value="不良予約登録" />
        &nbsp
        <button onclick="location.href='@Url.Action("CancelEdit")';return false;">キャンセル</button>
   
    </div>

}