@using ArmsApi.Model
@model ArmsWeb.Models.WorkEndAltModel
@{
    ViewBag.Title = "InputDef";
}

<h3>基板不良枚数入力</h3>


@using (Html.BeginForm())
{
    <h3>検査者：@Model.EmpCd</h3>
    <h3>ロット：@Model.MagList[0].NascaLotNO</h3>
    <h3>装置名：@Model.Mac.LongName</h3>

    <h3>分類:@Model.CurrentDefItem.ClassName</h3>
    <h3>起因:@Model.CurrentDefItem.CauseName</h3>
    <h3>名称:@Model.CurrentDefItem.DefectName</h3>

    @Html.Hidden("classcd", @Model.CurrentDefItem.ClassCd);
    @Html.Hidden("causecd", @Model.CurrentDefItem.CauseCd);
    @Html.Hidden("defectcd", @Model.CurrentDefItem.DefectCd);

    <p>
        枚数:
        <input type="text" name="qty" value="@Model.CurrentDefItem.DefectCt.ToString()" />
    </p>

    <hr />

    <input type="submit" name="更新" value="OK" />
    <button onclick="location.href='@Url.Action("Select")';return false;">キャンセル</button>
}